
/*=============header==============*/


.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    align-items: center;
    padding: 2% 5%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.photograph-header article h1 {
    color: #D3573C;
    font-size: 4em;
    white-space: nowrap;
    margin: 5% 0 0 0;
}

.photograph-header img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    order: 3;
}

.photograph-header article h2 {
    color: #901C1C;
    font-size: 1.5em;
    margin: 2% 0;
    font-weight: normal;
}

.photograph-header article h3{
    font-weight: normal;
    font-size: 1.125em;
    margin: 2% 0;
}

.photograph-header article p{
    font-size: 1.125em;
    color: #757575;
    margin: 2% 0;
}

.photograph-header a{
    text-decoration: none;
    text-align: center;
}


/*=============trier par==============*/


.dropdown{
    margin: 1% 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
    font-size: 1.125em;
}

.select p{
    font-weight: bold;
}

.dropdown__choice{
    background-color: #901C1C;
    color: white;
    font-size: 1.125em;
    padding: 1em 1.5em 1em 1em;
    border-radius: 5px;
    border: none;
}

.dropdown__ul{
    position: relative;
}

.custom__arrow{
    display: block;
    background: url('./../assets/icons/angle-down-solid.svg') no-repeat;
    background-size: 50% !important;
    background-color: #901C1C ;
    border-radius: 5px;
    height: 100%;
    width: 24%;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    background-position: center;
    background-size: contain;
} 

/* .select__choice option{
    background-color: #DB8876 !important;
}

.select__choice option:hover{
background-color: #DB8876 !important;
} */


/*=============Gallery photo==============*/


.portfolio{
    display: flex;
    margin: 3% 100px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 1px;
    row-gap: 20px;
    overflow: auto;
}

.portfolio__article{
    width: 25%;
    height: 400px;
}

.portfolio__article__img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 0;
    border-radius: 5px;
    cursor: pointer;
}

.portfolio__article__title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.portfolio__article__title span{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.portfolio__article__title p {
    font-size: 1.25em;
    color: #901C1C;
}

.like{
    margin-left: 5px;
    height: 20px;
    width: 20px;
}

.like-no{
    background: url("../assets/icons/dislike.svg") no-repeat ;
}

.like-yes{
    background: url("../assets/icons/like.svg") no-repeat  ;
    background-size: contain;
}
.portfolio__btn__img{
    border: none;
    background: none;
    height: 80%;
    width: 100%;
}

/*=============total des likes et prix==============*/


.sticky{
    position: -webkit-sticky;
    position: sticky;
    left: 85%;
    bottom: 0px;
}

.sticky__info{
    background-color: #DB8876;
    padding: 1% 2%;
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 2%;
    border-radius: 5px 5px 0 0;
    position: relative;
    left: 78%;
    width: 16%;
}

.sticky__info p{
    display: flex;
    align-items: center;
    font-size: 1.188em;
    font-weight: 500;
    margin: 7% 2%;
}


/*=============lightbox==============*/


.lightbox__container{
    display: flex; 
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    /* overflow: auto; */
    background-color: white;
    transition: opacity .3s;
    animation: lightboxIn ;
}

.lightbox__container.fadeOut{
    opacity: 0;
}

.slides__box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    position: relative;
}

.slides{
    width: 75%;
    max-width: 1200px;
    
} 

.slides__media{
    max-width: 100%;
    height: 80vh;
    animation: lightboxIn .5s;
    object-fit: contain;
}

.slides__title{
    font-size: 1.125em;
}

.close{
    position: absolute;
    top: 50px;
    cursor: pointer;
    padding: 30px;
    background: url("./../assets/icons/closeColor.svg") no-repeat center;
    border: none;
}

.previous,
.next {
    cursor: pointer;
    padding: 30px;
    color: #901C1C;
    font-weight: bold;
    font-size: 2.5em;
    /* transition: 0.6s ease; */
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    z-index: 11;
}

.slides__title{
    font-size: 1.5em;
    color: #901C1C;
}



@keyframes lightboxIn {
    from {opacity : .5}
    to {opacity : 1}
}

/*=============modal==============*/


#contact_modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    /* overflow: auto; */
    background-color: rgba(255, 255, 255, 0.692);
    justify-content: center;
    align-items: center;

}

.contact_button {
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    order: 2;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    
}

.modal header {
    justify-content: space-between;
    width: 100%;
    padding: 2% 0 10% 0;
}

.modal-close-btn {
    cursor: pointer;
    border: none;
    background-color: #db897600 ;
}

.modal header h2 {
    font-size: 2.75em;
    font-weight: normal;
    text-align: initial;
    width: 70%;
    margin: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 1.5em;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
form input:not(:placeholder-shown):not(:focus):invalid{
    border: 2px solid #901C1C;
}

#message{
    height: 170px;
    width: 100%;
    border: none;
    border-radius: 5px;
}
.error{
    color:#901C1C;
}

.no-scroll {
    overflow: hidden;
}

/*========Media queries==========*/

@media all and (max-width: 992px ){
    .portfolio__article{
        width: 100%;
    }
    .porfolio{
        margin: 3%;
    }
    .modal header h2{
        font-size: 1.875em;
    }
    form input{
        height: 48px;
    }
    #message{
        height: 70px;
    }
    .modal{
        width: 70%;
    }
}
@media all and (max-width: 768px ){
    .portfolio{
        margin: 6%;
    }
    .photograph-header{
        margin: 0;
        justify-content: start;
    }
    .contact_button{
        width: 150px;
        height: 50px;
        font-size: 1.125em;
    }
    .photograph-header article h1 {
        font-size: 2.75em;
    }
    .photograph-header img {
        height: 150px;
        width: 150px;
        margin: auto;
    }
    .dropdown {
        margin: 6%;
    }
    .sticky__info{
        left: 0;
        width: auto;
    }
}