@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    flex-wrap: wrap;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

header a:focus-visible{
    outline: 3px dashed #901C1C;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 100px 0;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article a:focus-visible{
    outline: 3px dashed #901C1C;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 2.25em;
    white-space: nowrap;
    margin: 5% 0 0 0;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    mix-blend-mode: screen;
}
.photographer_section article h3 {
    color: #901C1C;
    font-size: 0.913em;
    margin: 2% 0;
    font-weight: normal;

}
.photographer_section article h4{
    font-weight: normal;
    font-size: 0.725em;
    margin: 2% 0;
}
.photographer_section article p{
    font-size: 0.763em;
    color: #757575;
    margin: 2% 0;
}
.photographer_section a{
    text-decoration: none;
    text-align: center;
}

@media all and (max-width: 768px ){
    .photographer_section{
        grid-template-columns: 1fr;
    }

    h1 {
        margin-right: 0px;
    }
    
    .logo {
        margin-left: 0px;
    }

    header{
        justify-content: center;
        margin-top: 4%;
    }
    
}